.Pregunta{
    color: black;
    background: skyblue;
    font-size: 30px;
}
.concepto{
    color: black;
    text-align: justify;
    background: gray;
}

.ej1 {
    color :red;
}


.ej {
    color:red;
    font-size: 30px ;
}


  

